<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Master_Blog</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/css/base.css">
    <link rel="stylesheet" href="~/css/vendor.css">
    <link rel="stylesheet" href="~/css/main.css">

    <!-- script
    ================================================== -->
    <script src="~/js/modernizr.js"></script>

</head>

<body>

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div id="top" class="s-wrap site-wrapper">

        <!-- site header
        ================================================== -->
        <header class="s-header">

            <div class="header__top">
                <div class="header__logo">
                    <a class="site-logo" asp-page="/Index">
                        <img src="~/images/image-removebg-preview.png" alt="Homepage">
                    </a>
                </div>

                <!-- toggles -->
                <a href="#0" class="header__search-trigger"></a>
                <a href="#0" class="header__menu-toggle"><span>Menu</span></a>

            </div> <!-- end header__top -->

            <nav class="header__nav-wrap">

                <ul class="header__nav">
                    <li class="current"><a  asp-page="/Index" title="">Home</a></li>
                    <li><a asp-area="Administrator" asp-page="/Index" title="">Admin Dashboard</a></li>
                </ul> <!-- end header__nav -->
            </nav> <!-- end header__nav-wrap -->



        </header> <!-- end s-header -->

        <div class="s-content">

            <div class="masonry-wrap">
                @RenderBody()
            </div>
            <!-- footer
            ================================================== -->
            <footer class="s-footer">
                <div class="row">
                    <div class="column large-full footer__content">
                        <div class="footer__copyright">
                            <p>© Copyright 🌙<span id="curYr"></span></p>
                        </div>
                    </div>
                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"></a>
                </div>
            </footer>

        </div> <!-- end s-wrap -->

    </div>
    <!-- Java Script
    ================================================== -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</body>
