@page
@model MB.Presentation.Areas.Administrator.Pages.ArticleCategoryManagement.ListModel
@{
}


<div class="col-12 mb-3">
    <div class="row">
        @if (ViewBag.Created==true)
        {
            <div class="alert alert-success">
               Article Category Successfully Created
            </div>
        }
    </div>
</div>


<div class="card">
    <div class="card-header">
        <h3 class="float-start">Article Category List</h3>
        <div class="float-end">
            <a class="btn btn-success" asp-page="./Create" asp-area="Administrator">Create New</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>CreationDate</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
               @foreach (var articleCategory in Model.ArticleCategories)
               {
                   <tr>
                       <td>@articleCategory.Id</td>
                       <td>@articleCategory.Title</td>
                       <td>@articleCategory.CreationDate</td>
                       <td>
                           @if (articleCategory.IsDeleted)
                           {
                               <span>❌</span>
                           }
                           else
                           {
                               <span>✅</span>
                           }
                       </td>
                   </tr>
               }
            </tbody>
        </table>
    </div>
</div>